#home {
  div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img.img-fluid {
      display: none !important;
    }
    .greeting {
      width: 20rem;
      padding: 1rem 1rem 0 1rem;
      margin: 32rem 0 0 0;
    }
    .typing-carousel {
      width: 20rem;
      padding: 0 1rem 1rem 1rem;
    }
  }
}

#primary-skills {
  .card {
    height: auto;
    .card-head {
      height: 100%;
      border-bottom: none;
    }
  }
}
